<div class="">
	<div class="rounded border border-green-500 p-4 bg-white drop-shadow-md">
		<form>
			<div class="grid gap-6 mb-4">
				<div>
					<label for="address" class="block mb-2 text-sm font-medium text-gray-900">Address</label>
					<input type="text" id="address" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
				</div>
				<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"> Submit </button>
			</div>
		</form>
	</div>
</div>